[Desktop Entry]
Encoding=UTF-8
Name=Lien vers tp4.pdf
Type=Link
URL=http://forge.info.univ-angers.fr/~lardeux/LicPro/BD/TP/tp4.pdf
Icon=application-pdf
